@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Orbitron:wght@400..900&display=swap');
@import "tailwindcss";
@tailwind utilities;


::-webkit-scrollbar{
    display: none;
}

@theme{
    --color-bglight:#ffffff;
    --color-textlight:#24292f;
    --color-accentlight:#93c5fd;

    --color-bgdark:#282a36;
    --color-textdark:#f8f8f2;
    --color-accentdark:#bd93f9;
    --font-nunito:Nunito, 'sans-serif';

    --width-input:470px;
    --width-input-text:500px;
}


:root{
    @apply font-nunito text-textlight bg-bglight
}

.animate-float{
    animation: float 3s ease-in-out infinite;
}

@keyframes float{
    0%,100%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-15px);
    }
}

.animate-line {
    width: 100%;
    height: 5px;
    border: 4px solid transparent;
    border-radius: 2px;
    background: 
        repeating-linear-gradient(
            90deg, #fff 0px, #fff 10px, transparent 10px, transparent 20px
        );
    background-origin: border-box;
    background-clip: border-box;
    background-size: 40px 100%;
    animation: moveLine 1s linear infinite;
}

@keyframes moveLine {
    0% {
        background-position: 100% 0;
    }
    100% {
        background-position: 0% 0;
    }
}


/* Style Pages */

.nav-link{
    @apply  w-full p-2 rounded-lg transition-all delay-75 ease-out flex items-center justify-start gap-x-2
    
}

.nav-link.active{
    @apply  w-full border-r-8 border-r-bgdark bg-gray-200 font-bold
}
